@inherits MenuViewExtension
<li class="nav-item px-3">
    <NavLink class="nav-link" href="pluginA" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Plugin A
    </NavLink>
</li>