[submodule "lib/AI4E.Utils.ObjectClone"]
	path = lib/AI4E.Utils.ObjectClone
	url = https://github.com/AI4E/AI4E.Utils.ObjectClone.git
[submodule "lib/AI4E.ApplicationParts"]
	path = lib/AI4E.ApplicationParts
	url = https://github.com/AI4E/AI4E.ApplicationParts.git
[submodule "lib/AI4E.Memory.Compatibility"]
	path = lib/AI4E.Memory.Compatibility
	url = https://github.com/AI4E/AI4E.Memory.Compatibility.git
