@implements IMenuViewExtension

<li class="nav-item px-3">
    <NavLink class="nav-link" href="/module/AdditionalPage">
        <span class="oi oi-home" aria-hidden="true"></span> Additional page
    </NavLink>
</li>
