@implements IMenuViewExtension

<li class="nav-item px-3">
    <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
        <span class="oi oi-home" aria-hidden="true"></span> From view extension!!
    </NavLink>
</li>
