@implements IMenuViewExtensionDefinition
<li class="nav-item px-3">
    <NavLink class="nav-link" href="plugin" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> PluginPage
    </NavLink>
</li>