@inherits TypedViewExtensionDefinition
<div>
    <h2>View extension rendered by the plugin!</h2>
    <div>
        Passed view extension context:
    </div>
    <div>
        Message is: @Message
    </div>
    <div>
        Number is: @Number
    </div>
</div>
@ChildContent
