@model ModulesSearchModel
@{
    ViewBag.Title = "Search modules";
}

<div>

    <form asp-action="Index" method="post">
        <div>
            <label asp-for="SearchPhrase">Suche:</label> <input asp-for="SearchPhrase" />
        </div>
        <div>
            <input asp-for="IncludePreReleases" /><label asp-for="IncludePreReleases">IncludePreReleases</label>
        </div>
        <input type="submit" value="Search" />
    </form>

    @if (Model.SearchResult.Any())
    {
        <ul>
            @foreach (var searchResult in Model.SearchResult)
            {
                <li>
                    <a asp-action="Install"
                       asp-route-module="@searchResult.Id"
                       asp-route-module-version="@searchResult.LatestVersion">
                        <span>@searchResult.Id</span><span>@searchResult.LatestVersion</span>
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <div>No search results</div>
    }
</div>