@model ModuleInstallModel

@{
    ViewBag.Title = "Install module";
}

<div>
    <form asp-action="Install" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ConcurrencyToken" />
        <input type="hidden" asp-for="Name" />

        <span>Are you sure to install module '@Model.Name' within version '@Model.Version'?</span>

        <a asp-action="Index" class="btn btn-primary">Cancel</a>
        <input type="submit" value="Install" class="btn btn-primary" />
    </form>
</div>