@model ModuleUninstallModel

@{
    ViewBag.Title = "Uninstall module";
}

<div>
    <form asp-action="Uninstall" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ConcurrencyToken" />
        <input type="hidden" asp-for="Name" />

        <span>Are you sure to uninstall module '@Model.Name'?</span>

        <a asp-action="Index" class="btn btn-primary">Cancel</a>
        <input type="submit" value="Uninstall" class="btn btn-primary" />
    </form>
</div>