# Diagnostics configuration

# Use .ConfigureAwait(bool)
dotnet_diagnostic.VSTHRD111.severity = silent 

# Use Async suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = silent 

# Array allocation for params parameter
dotnet_diagnostic.HAA0101.severity = silent 

# Non-overridden virtual method call on value type
dotnet_diagnostic.HAA0102.severity = silent 


# Implicit string concatenation allocation
dotnet_diagnostic.HAA0201.severity = silent 

# Value type to reference type conversion allocation for string concatenation
dotnet_diagnostic.HAA0202.severity = silent 


# Closure Allocation Source
dotnet_diagnostic.HAA0301.severity = silent 

# Display class allocation to capture closure
dotnet_diagnostic.HAA0302.severity = silent 

# Lambda or anonymous method in a generic method allocates a delegate instance
dotnet_diagnostic.HAA0303.severity = silent 


# Possible allocation of reference type enumerator
dotnet_diagnostic.HAA0401.severity = silent 


# Value type to reference type conversion causing boxing allocation
dotnet_diagnostic.HAA0601.severity = silent 

# Delegate on struct instance caused a boxing allocation
dotnet_diagnostic.HAA0602.severity = silent 

# Delegate allocation from a method group
dotnet_diagnostic.HAA0603.severity = silent 
