@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
    <PopupView>
        <PopupTemplate Context="popup">
            <div class="alert alert-primary" role="alert" style="position: fixed; bottom: 0">
                @popup.FormatTitle()
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="popup.DismissOrHide">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </PopupTemplate>
    </PopupView>
</div>
