@page "/"
@using Alerts
@inject IAlertMessageManager  AlertMessageManager
@functions {

    private void AddAlert()
    {
        AlertMessageManager.PlaceAlert(AlertType.Warning, "This is a sample warning");
    }

    private void AddAlertDismiss()
    {
        AlertMessageManager.PlaceAlert(AlertType.Warning, "This is a sample warning", allowDismiss: true);
    }

    private void AddCounterAlert()
    {
        AlertMessageManager.PlaceAlert(
            AlertType.Success,
            "This is a counter specific sample alert",
            uriFilter: new UriFilter("/counter"));
    }

}
<h1>Hello, world!</h1>

Welcome to your new app.

<button onclick="@AddAlert">Add alert</button>
<button onclick="@AddAlertDismiss">Add alert (with dismiss option)</button>
<button onclick="@AddCounterAlert">Add counter alert</button>