@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br /><br /><br />

<div>@Model.Result</div>

<form method="POST">
    <label asp-for="Message">Message: </label><input asp-for="Message" />
    <input type="submit" value="Send" />
</form>
