@page "/modulesources/create"
@inherits Create_
<div class="container">
    <EditForm Model="Model" OnValidSubmit="StoreAsync">
        <div class="form-group">
            <label for="Name">Name</label>
            <InputText Id="Name" bind-Value="@Model.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Location">Location</label>
            <InputText Id="Location" bind-Value="@Model.Location" class="form-control" />
        </div>
        <a href="/modulesources" class="btn btn-primary">Back</a>
        <input type="submit" value="Create" class="btn btn-primary" />
    </EditForm>
</div>
